{% extends 'base.html' %}

{% block titulo %}Pagamento | {% endblock %}

{% load omfilters %}
{% load static %}

{% block conteudo %}
<div class="row">
    <div class="col">
        <h3>Escolha o método de pagamento</h3>
        <p>Adicione seu método de pagamento preferido.</p>
    </div>
</div>

{% include 'parciais/_pedido.html' %}

<div class="row mt-4">
    <div class="col"><form method="post" action="{% url 'pedido:pagar' pedido.id %}">
        {% csrf_token %}
        <button  class="btn btn-primary btn-block btn-lg" type="submit">Pagar</button>
    </form>

    </div>
</div>


{% endblock %}